<template>
  <div>
    <div class="container" v-if="$store.state.auth">
      <Header />
      <h1>Popular Items</h1>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">

        
        <b-form-group id="input-group-1" label="Till or On Date:" label-for="input-1">
          <b-form-select
            id="input-1"
            v-model="form.tillon"
            :options="tillon"
          ></b-form-select>
        </b-form-group>

        <b-form-group id="input-group-2" label="Choose a Date:" label-for="input-2">
          <b-form-datepicker
              id="input-2"
              v-model="form.dt" 
              class="mb-2"
          ></b-form-datepicker>
        </b-form-group>

        <b-form-group id="input-group-3" label="Ascending or Descending:" label-for="input-3">
          <b-form-select
            id="input-3"
            v-model="form.desc"
            :options="desc"
          ></b-form-select>
        </b-form-group>
        
        <b-form-group id="input-group-4" label="Number of Records:" label-for="input-4">
          <b-form-input
            id="input-4"
            v-model="form.records"
          ></b-form-input>
        </b-form-group>

        <b-button type="submit" @click="sendrequest()" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form.Result  }}</pre>
      </b-card>
    </div>
    <p class="text-center" v-else>
      Please
      <NuxtLink to="/login">
        Login
      </NuxtLink>
    </p>
  </div>
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined
import Header from '@/components/Header';
  export default {
    middleware: 'authenticated',
    components:{
    Header
  },
    data() {
      return {
        form: {
          token:'',
          tillon: '',
          dt: '',
          desc: '',
          records: '',
          Result:'',
        },
        tillon: [{ text: 'Select One', value: null }, 'till', 'on'],
        desc: [{ text: 'Select One', value: null }, 'asc', 'desc'],
        show: true
      }
    },
    methods: {
        async sendrequest() {
          if (Cookie.getJSON('auth')) {
            this.form.token = (Cookie.getJSON('auth')).accessToken
          }
          if(this.form.token){
            this.form.Result = await this.$axios({
              url:`http://localhost:3001/popular_items?desc=${this.form.desc}&records=${this.form.records}&tillon=${this.form.tillon}&dt=${this.form.dt}`,
              method:'get',
              headers:{'Authorization':"Bearer "+this.form.token}
            })
            .then(result=>result.data)
            .catch(err=>{
              if(err.message == "Request failed with status code 401")
              {
                alert('Session Over Please Login Again')
                Cookie.remove('auth')
                this.$store.commit('setAuth', null)
                return "Login Again"
              }
              if(err.message == "Request failed with status code 404"){
                return "No Records"
              }
              return err
            })
          }
        },
        onSubmit(evt) {
            evt.preventDefault()
        },
        onReset(evt) {
            evt.preventDefault()
            // Reset our form values
            this.form.tillon = ''
            this.form.dt = ''
            this.form.desc = ''
            this.form.records = ''
            this.form.Result = ''
            this.form.token=''
            // Trick to reset/clear native browser form validation state
            this.show = false
            this.$nextTick(() => {
            this.show = true
            })
        }
    }
  }
</script>