<template>
  <div>
    <div class="container" v-if="$store.state.auth">
      <Header />
      <h1>In Stock</h1>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">

        <b-form-group id="input-group-1" label="Item name:" label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="form.item"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Choose a Date:" label-for="input-2">
          <b-form-datepicker
              id="input-2"
              v-model="form.dt" 
              class="mb-2"
          ></b-form-datepicker>
        </b-form-group>

        <b-button type="submit" @click="fetchSomething()" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form.Result  }}</pre>
      </b-card>
    </div>
    <p class="text-center" v-else>
      Please
      <NuxtLink to="/login">
        Login
      </NuxtLink>
    </p>
  </div>
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined
import Header from '@/components/Header';
  export default {
    middleware: 'authenticated',
    components:{
    Header
  },
    data() {
      return {
        form: {
          token:'',
          item: null,
          dt: '',
          Result:'',
        },
        show: true
      }
    },
    methods: {
        async fetchSomething() {
          if (Cookie.getJSON('auth')) {
            this.form.token = (Cookie.getJSON('auth')).accessToken
          }
          if(this.form.item && this.form.dt && this.form.token){
            this.form.Result = await this.$axios({
              url:`http://localhost:3001/inStock?item=${this.form.item}&dt=${this.form.dt}`,
              method:'get',
              headers:{'Authorization':"Bearer "+this.form.token}
            }).then(result=> result.data)
            .catch(err=>{
              if(err.message == "Request failed with status code 401"){
                  alert('Session Over Please Login Again')
                  Cookie.remove('auth')
                  this.$store.commit('setAuth', null)
                  return "Login Again"
                }
              alert(err)
              return err.message
            })
          }if(this.form.item && this.form.token){
            this.form.Result = await this.$axios({
              url:`http://localhost:3001/inStock?item=${this.form.item}`,
              method:'get',
              headers:{'Authorization':"Bearer "+this.form.token}
            }).then(result=> result.data)
            .catch(err=>{
              if(err.message == "Request failed with status code 401"){
                  alert('Session Over Please Login Again')
                  Cookie.remove('auth')
                  this.$store.commit('setAuth', null)
                  return "Login Again"
                }
              alert(err)
              return err.message
            })
          }
          
        },
        onSubmit(evt) {
            evt.preventDefault()
        },
        onReset(evt) {
            evt.preventDefault()
            // Reset our form values
            this.form.item = null
            this.form.dt = ''
            this.form.token = ''
            this.form.Result =''
            // Trick to reset/clear native browser form validation state
            this.show = false
            this.$nextTick(() => {
            this.show = true
            })
        }
    }
  }
</script>