<template>
  <div>
    <div class="container" v-if="$store.state.auth">
      <Header />
      <h1>Daily Profit</h1>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">


        <b-form-group id="input-group-1" label="Choose a Date:" label-for="input-1">
          <b-form-datepicker
              id="input-1"
              v-model="form.dt" 
              class="mb-2"
          ></b-form-datepicker>
        </b-form-group>

        <b-form-group id="input-group-2" label="Ascending or Descending:" label-for="input-2">
          <b-form-select
            id="input-2"
            v-model="form.desc"
            :options="desc"
          ></b-form-select>
        </b-form-group>
        
        <b-form-group id="input-group-3" label="Number of Records:" label-for="input-3">
          <b-form-input
            id="input-3"
            v-model="form.records"
          ></b-form-input>
        </b-form-group>

        <b-button type="submit" @click="sendrequest()" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form.Result  }}</pre>
      </b-card>
    </div>
    <p class="text-center" v-else>
      Please
      <NuxtLink to="/login">
        Login
      </NuxtLink>
    </p>
  </div>
</template>

<script>
import Header from '@/components/Header';
const Cookie = process.client ? require('js-cookie') : undefined
  export default {
    middleware: 'authenticated',
    components:{
    Header
  },
    data() {
      return {
        form: {
          token:'',
          dt: '',
          desc: '',
          records: '',
          Result:'',
        },
        desc: [{ text: 'Select One', value: null }, 'asc', 'desc'],
        show: true
      }
    },
    methods: {
        async sendrequest() {
          if (Cookie.getJSON('auth')) {
            this.form.token = (Cookie.getJSON('auth')).accessToken
          }
          this.form.Result = await this.$axios({
            url:`http://localhost:3001/daily_profit?desc=${this.form.desc}&records=${this.form.records}&dt=${this.form.dt}`,
            method:'get',
            headers:{'Authorization':"Bearer "+this.form.token}
          })
          .then(result=> result.data)
          .catch(err=>{
            if(err.message == "Request failed with status code 401"){
                alert('Session Over Please Login Again')
                Cookie.remove('auth')
                this.$store.commit('setAuth', null)
                return "Login Again"
              }
            alert(err)
            return err.message
          })
          
        },
        onSubmit(evt) {
            evt.preventDefault()
        },
        onReset(evt) {
            evt.preventDefault()
            // Reset our form values
            this.form.dt = ''
            this.form.desc = ''
            this.form.records = ''
            this.form.Result = ''
            this.form.token = ''
            // Trick to reset/clear native browser form validation state
            this.show = false
            this.$nextTick(() => {
            this.show = true
            })
        }
    }
  }
</script>