<template>
  <div>
    <nuxt />
  </div>
</template>


// <script>
// import Header from '@/components/Header';

// export default {
//   components:{
//     Header
//   },
//   data(){
//     return {
//       headervalue:false,
//     }
//   }
// }
// </script>
