<template>
  <div>
    <div v-if="$store.state.auth">
      <Header />
      <div class="text-center">Welcome to Inventory Management</div>
    </div>

    <div v-else>
      <b-img center src="https://assets-global.website-files.com/5b4cba745747fc721ba46069/5b5625ee8315c53496657dd1_inventory-management-process1.jpg" alt="Center image"></b-img>
      <p class="text-center" >
        Logged Out. Please
        <NuxtLink to="/login">
          Login
        </NuxtLink> to continue
      </p>
    </div>
  </div>
</template>

<script>
const Cookie = process.client ? require('js-cookie') : undefined
import Header from '@/components/Header';
export default {
  middleware: 'authenticated',
    components:{
    Header
  }
}
</script>

